html
{
	background: #f8f8f8;
}

body
{
	background: #fff;
	color: #000;

	margin: auto;
	padding: 2em;
	max-width: 52em;
}

p, li, dd, td
{
	text-align: justify;
	line-height: 1.5;
}

dt
{
	font-weight: bold;
	margin-top: 1em;
}

dd p, .footnote p
{
	margin-top: 0;
}

h1
{
	/* move bottom border onto the baseline */
	height: 1em;

	margin-top: 1.5em;
	margin-bottom: .9em;
	border-bottom: .05em solid #bbb;
}

h2
{
	margin-top: 1em;
	margin-bottom: .5em;
}

table.docutils
{
	margin: 1em auto;
	width: 80%;
	border: none;
	border-top: 0.2em solid #339;
	border-bottom: 0.2em solid #339;
}

table.docutils th
{
	border: none;
	border-bottom: 0.2em solid #339;
}

table.docutils td
{
	border: none;
	border-bottom: 0.1em solid #000;
	padding: 0 1em;
}

h1.title
{
	text-align: center;
	letter-spacing: 0.2em;

	margin: 1em 0;
	border: none;
}

.docinfo
{
	margin: 4em 3em 2em;
}

.docinfo-name
{
	text-align: left;
	padding-right: 1em;
}

table.footnote
{
	margin: 1em 0;
	border: none;
	margin-top: 2em;
	width: auto;
}

table.footnote td
{
	border: none;
	padding: 0;
}

.footnote + .footnote
{
	margin-top: .5em;
}

.footnote .label
{
	padding-right: 1em;
}

pre.literal-block
{
	margin-left: 2em;
}
